$xxxl_breakpoint: 1600px;
$xxl_breakpoint: 1400px;
$xl_breakpoint: 1200px;
$lg_breakpoit: 992px;
$md_breakpoint: 768px;
$sm_breakpoint: 576px;

$tablet_horizontal_breakpoint: 1024px;
$tablet_straight_breakpoint: 768px;

$at1610_breakpoint: 1610px;
$at1520_breakpoint: 1520px;
