$pc_h1: 40px !default;
$pc_h2: 35px !default;
$pc_h3: 30px !default;
$pc_h4: 25px !default;
$pc_h5: 20px !default;
$pc_h6: 16px !default;

$pc_price: 16px !default;
$pc_gray: 14px !default;

// $rwd_h1: 32px !default;
// $rwd_h2: 29px !default;
// $rwd_h3: 26px !default;
// $rwd_h4: 23px !default;
// $rwd_h5: 20px !default;
// $rwd_h6: 16px !default;

// $rwd_price: 16px !default;
// $rwd_gray: 14px !default;

// $default_fz: 16px !default;

// 中文字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/zh/edukai-4.0.woff);
//   unicode-range: U+4E00-9FFF;
// }

// //注音字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/chuyin/BpmfZihiSans-Regular.woff);
//   unicode-range: U+3100-312F;
// }

// //英文字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/en/Niramit-Regular.woff);
//   unicode-range: U+00-024F;
// }

// //數字字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/en/Niramit-Regular.woff);
//   unicode-range: U+0030-0039;
// }

// // 半形標點符號用英文字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/en/Niramit-Regular.woff);
//   unicode-range: U+0020-007E; 
// }

// // 全形標點符號用中文字體
// @font-face {
//   font-family: quest;
//   src: url(/src/assets/font/zh/edukai-4.0.woff);
//   unicode-range: U+3000-303F;
// }


// // 中文雅黑 英文Arial
// // 中文字體
// @font-face {
//   font-family: yaheiArial;
//   src: local("Microsoft Yahei");
//   unicode-range: U+4E00-9FFF;
// }

// // 英文字體
// @font-face {
//   font-family: yaheiArial;
//   src: local("Arial");
//   unicode-range: U+00-024F;
// }

// // 數字字體
// @font-face {
//   font-family: yaheiArial;
//   src: local("Arial");
//   unicode-range: U+0030-0039;
// }